<div class="row">
  <div id="login" class="auth col s6 offset-s3">
    {{#if error}}
      <div class="alert">
        <p>{{error}}</p>
      </div>
    {{/if}}

    <h1>Type new password</h1>
    <form action="/auth/password" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" class="validate">
        </div>
      </div>

      <input type="hidden" name="_csrf" value={{ csrf }}>
      <input type="hidden" name="userId" value={{ userId }}>
      <input type="hidden" name="token" value={{ token }}>

      <div class="row">
        <button class="btn btn-primary col s4 offset-s4">Update password</button>
      </div>
    </form>
  </div>
</div>